:root {
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --primary-color : #ee4d2d;
    --border-color : #dbdbdb;
    --start-gold-color: #ffce3e;
}

* {
   box-sizing: inherit;
}

html {
    /* 10 px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__ful-width{
    width : 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-3-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-9 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}
/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    margin: auto;
    /* width: 300px;
    height: 300px; */
    --growth-from: 0.5;
    --growth-to: 1;
    position: relative;
    z-index: 1;
    animation: growth linear 0.3s;
   
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background: #999;
}
/* Selection */

.select-input {
    min-width: 200px;
    padding: 0 12px;
    height: 32px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 50;
}
.select-input::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 33px;
    /* background-color: red; */
}
.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
  }
  
  .selcet-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px; 
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 12px;
    list-style: none;
    display: none;
  }

  .select-input__link {
      font-size: 1.4rem;
      text-decoration: none;
      color: var(--text-color);
      display: block;
      padding: 4px 0;
  }

  .select-input__link:hover {
      color: tomato;
  }

  .select-input:hover .selcet-input__list {
      display: block;
  }

  /* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item {
    margin: 0 16px;
}
.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}