.header {
  /* height: 130px; */
  height: 83px;
  background-color: #020202;
  margin-bottom: 24px;
  position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
}
.header-bottom {
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 9px #766c6c;
  margin-top: -8px;
}

.header__navbar-bottom {
  text-transform: uppercase;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar-list {
  padding: 0;
  z-index: 999;
  /* display: flex; */
  /* align-items: center; */
}
.header__navbar-list a {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
  color: #dcdcdc;
  font-weight: bold;
  font-size: 1.6rem;
  
}
#navbar-user-img {
  transition: 0.4s;
}
.header__navbar-item--search:hover .header__search {
  display: flex;
}
.header__navbar-item-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 20px;
  left: -7px;
  top: 21px;
  /* background-color: red; */
} 
.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 1);
}
.header__navbar-item {
  display: inline-block;
  margin-left: 32px;
  position: relative;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
    align-items: center;
}
.header__navbar-user-img {
 
  height: 70px;
  border-radius: 50%;
  
}
.header__navbar-user-item:hover {
  background-color:  rgba(221, 221, 221, 0.2);
  
}
.header__navbar-user-item:hover >a {
 color: #353535;
}
.header__navbar-user-menu {
  position: absolute;
  padding: 8px 0px;
  top: 80%;
  left: 71px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 2px;
  list-style: none;
  border: 2px solid thistle;
  display: none;
  animation: fadeIn linear 0.3s;
  box-shadow: 0px 1px 7px 0px thistle;
  
}
.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  border-color: transparent transparent thistle transparent;
  border-style: solid;
  border-width: 10px;
  top: -22px;
  left: 37px;
}

.header__navbar-user-menu::after {
  content: "";
  position: absolute;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 10px;
  top: -20px;
  left: 37px;
}

.header__navbar-user:hover .header__navbar-user-menu  {
    display: block ;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: #777;
  font-size: 1.4rem;
  display: block;
  padding: 11px  17px;
  font-weight: 250;

}
.header__navbar-user-item {
  background-color: white;
 
}
.header__navbar-user-name {
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  /* color: white; */
}
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #1c1c1c;
  height: 18px;
  right: -19px;
  top: 3.5px;
}
.menu-list {
  margin: 0;
  position: relative;
  z-index: 10;
  
}
.menu-list a {
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
}

.menu-list__item {
  display: inline-block;
  padding: 16px 0;
  margin: 0 26px;
  border-bottom: 3px solid transparent;
  
}
.menu-list--women {
  display: none;
  position: absolute;
  left: 316px;
  top: 100%;
  width: 200px;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 0;
  border: 2px solid thistle;
  animation: fadeIn ease-in 0.3s;
  
 
}

.menu-list__item--women {
  background-color: white;
  border-bottom: 1px solid thistle;
  padding: 9px 8px;
  font-size: 1.4rem;
  color: #333;
 
}

.menu-list__item--women a {
  color: rgba(102, 102, 102, 0.85);
}
.menu-list__item-women:hover .menu-list--women {
  display: block;
}
.menu-list__item-man:hover .menu-list--man {
  display: block;
}

.menu-list__item--man a {
  color: rgba(102, 102, 102, 0.85);
}
.menu-list__item--women:hover {
  background-color: rgba(221, 221, 221, 0.2);
  cursor: pointer;
}

.menu-list__item--women:hover > a {
  color: #c30005;
}

.menu-list__item--man:hover {
  background-color: rgba(221, 221, 221, 0.2);
  cursor: pointer;
}

.menu-list__item--man:hover > a {
  color: #c30005;
}
.menu-list--man {
  display: none;
  position: absolute;
  left: 410px;
  top: 100%;
  width: 200px;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 0;
  border: 2px solid thistle;
  animation: fadeIn linear 0.3s;
}

.menu-list__item--man {
  background-color: white;
  border-bottom: 1px solid thistle;
  padding: 9px 8px;
  font-size: 1.4rem;
  color: #333;
 
}

.menu-list__item:hover,
.menu-list__item:active {
  border-bottom: 3px solid red;
}
.active {
  /* border-bottom: 3px solid red; */
}

.header__search {
  display: flex;
  top: 100%;
  background-color: white;
  width: 232px;
  padding: 17px 0px 19px 12px;
  position: absolute;
  left: -66px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  border-radius: 5px;
  border: 2px solid thistle;
}
.header__search::before {
  content: "";
  border: 8px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  left: 63px;
  top: -16px;
  z-index: 999;
}
.header__search::after {
  content: "";
  border: 9px solid;
  border-color: transparent transparent thistle transparent;
  position: absolute;
  left: 62px;
  top: -19px;
  z-index: 1;
}
.header__text {
  border: 1px solid thistle;
  box-shadow: inset 0 0 2px 0px thistle;
  border-radius: 5px;
  padding: 0 8px;
}
.header__text:focus {
  outline: none;
  border: 1px solid thistle;
  box-shadow: 0px 0px 3px 0px thistle;
}
.header__item {
  outline: none;
  margin-left: -8px;
  padding: 7px;
  background-color: rgb(220, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
}

.header__item:hover {
  background-color: rgb(164, 0, 0);
}

/* Authen modal */
.auth-form {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 300;
  color: #1c1c1c;
}

.auth-form__text {
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
  margin-top: 13px;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  cursor: pointer;
  color: red;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0px 0px 6px #ddd;
  padding: 0 12px;
}

.auth-form__input:focus {
  box-shadow: 0px 0px 6px #ddd;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  color: tomato;
  text-decoration: none;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.btn {
  padding: 8px 26px 8px 28px;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn.btn-normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary {
  color: white;
  background-color: tomato;
}
.btn--size-s {
  height: 30px;
  font-size: 12px;
  padding: 0 8px;
}
.auth-form__controls-back {
  margin-right: 8px;
}
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  background-color: #3a5a98;
}
.auth-form__socials--facebook,
.auth-form__socials-icon {
  color: white;
}
.auth-form__socials-title {
  margin: 0 28px;
}
.auth-form__socials--google {
  color: #666;
  background-color: white;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
  cursor: pointer;
}
.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: 4px 16px 0;
  border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot {
  color: tomato;
}
.header__cart {
  position: relative;
}
.header_cart--list::after {
  content: "";
  position: absolute;
  right: 50px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent white transparent;
  border-style: solid;
}
.header_cart--list::before {
  content: "";
  position: absolute;
  right: 50px;
  top: -22px;
  border-width: 10px;
  border-color: transparent transparent thistle transparent;
  border-style: solid;
}

.header_cart--list {
  position: absolute;
  top: calc(100% + 13px);
  right: -9px;
  background-color: white;
  width: 350px;
  border-radius: 2px;
  border: 1.5px solid thistle;
  box-shadow: 1px 1px 11px 2px thistle;
  display: none; 
  height: 55vh;
  overflow-y: auto;
  animation: fadeIn ease-in 0.3s;
  z-index: 200;
}
.header__cart-no-cart-img {
  width: 80%;
  margin-left: 26px;
  display: none;
}
.header__cart-item-footer{
  font-size: 1.8rem;
  font-weight: 600;
  color: #514848;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid thistle;
}
.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img {
  /* display: block; */
} 

.header__cart:hover .header_cart--list {
  display: block;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  background-color: white;
  color: black;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 1px solid #020202;
  right: -18px;
  top: -7px;
  cursor: pointer;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  /* height: 50vh;
  overflow-y: auto; */
}
.header__cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid thistle;
  cursor: pointer;
  
}
.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #E8E8E8;
}
.header__cart-item-infor {
  width: 100%;
  margin-right: 12px;
  padding-bottom: 10px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 550;
  color: #333;
  margin: 0;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: tomato;
}
.header__cart-item-multiply {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-species {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-delete {
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}
.header__cart-item-delete:hover {
  color: tomato;
  cursor: pointer;
}

.header__cart-checkout {
  background-color: #d26e4b;
  padding: 8px 0px  8px 28px;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: flex;

  justify-content: center;
  align-items: center;
  color: white;
  margin: 15px 10px 0 10px;
}
.header__cart-checkout:hover {
  background-color: #b36347;
}
.header__cart-view-cart {
  background-color: #c30005;
  padding: 8px 0px 8px 28px;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 15px 10px 15px 10px;
}
.header__cart-view-cart:hover {
  background-color: #990307;
}
/* .btn-view-checkout {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px 0 5px;
} */

/* App container */
.app-content{
   padding-top: 36px;
   margin-top: 160px;
}

.category{
  /* background-color: var(--white-color); */
  border-radius: 2px;
  /* margin-top: 252px; */
  /* margin-top: 81px; */
}

.category__heading {
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 0px 22px;
  margin: 0;
}
.category-img {
  width: 65px;
  height: 70px;
  border: 1px solid #f5f5f5;
}
.category-item {
  display: flex;
  font-size: 1.2rem;
  border-bottom: 1px solid thistle;
  padding: 10px 0 10px 0;
  position: relative;
  transition: right linear 0.2s;
}

.category-item:hover  {
  color: red;
  right: -4px;
}

.category-list {
  list-style: none;
  border: 1px solid thistle;
  padding: 30px 10px 0 17px;
  background-color: #FCFCFC;
  width: 270px;
}

.category-item-header {
  /* display: flex; */
  align-items: center;
  padding: 0 0 10px 0;
  margin: -14px 0 0px 10px;
}

/* Home sort + filter */
.home-fillter{
  display: flex;
  background: rgba(0, 0, 0, 0.04);
  align-items: center;
  padding: 5px 22px;
  border-radius: 2px;
  position: relative;
}
.btn-pb {
  background-color: white;
}
.btn-fillter {
  margin: 10px 0 10px 0;
}
.home-fillter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-fillter__label{
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.home-fillter__btn{
  margin-right: 12px;
}
.home-fillter__page-num {
  font-size: 1.5rem;
  color : var(--text-color);
  margin-right: 22px;
}
.home-fillter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-fillter__page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-fillter__page-btn:first-child {
  border-right: 1px solid #eeeeee;
}
.home-fillter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555555;
}
.home-fillter__page-btn--disable {
  cursor: default;
  background-color: #f9f9f9;
}
.home-fillter__page-btn--disable .home-fillter__page-icon {
  color : #ccc;
}

.home-product-item {
  display: block;
  position: relative;
  margin-top: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 1px 0px 5px 0px #c2bfbf;
  transition: transform linear 0.1s;
  will-change: transform;

}
.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 1px 0px 5px 0px #9b9999;
}
.home-product-item__img{
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-position: center; */
}
.home-procut-item-link {
  text-decoration: none;
}
.home-product-item__name{
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px 10px 6px 10px ;
  overflow: hidden;
  display: block;
  /* Sử dụng nhiều dòng */
  /* display:-webkit-box ;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; */
  /* Sử dụng 1 dòng */
  text-overflow: ellipsis;
  white-space: nowrap;

}
.home-product-item__price{
  display: flex;
align-items: baseline;
flex-wrap: wrap;
}
.home-product-item__price-old{
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;

}
.home-product-item__price-current{
  font-size: 1.6rem;
  color: tomato;
  margin-left: 10px;

}
.home-product-item__action{
display: flex;
justify-content: space-between;
margin: 6px 10px 0;
}
.home-product-item__like{
  font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
  color: #f63d30;
  display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
} 

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
} 
.home-product-item__rating{

  font-size: 1rem;
  color: #d5d5d5;
}
.home-product-item__start--gold {
  color: var(--start-gold-color);
}
.home-product-item__origin{
/* display: flex;
justify-content: space-between;
margin: 3px 10px 0 ;
color: #595959;
font-weight: 400;
font-size: 1.2rem; */
margin: 3px 10px 0;
color: #595959;
text-align: center;
font-weight: 400;
font-size: 1.2rem;
}

.home-product-item__favourite{
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color : currentColor;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  color: var(--white-color);
}
.home-product-item__favourite i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}
.home-product-item__sale-off{
  position: absolute;
  right: 0;
  top : 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba( 255, 216, 64,0.94);
}
.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba( 255, 216, 64,0.94) transparent rgba( 255, 216, 64,0.94);
}

.home-product-item__sale-off-percent{

color: #EE4D2D;
font-weight: 600;
font-size: 1.2rem;
line-height: 1.3rem;
position: relative;
top: -1px;
}
.home-product-item__sale-off-label{
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: 1.3rem;
  position: relative;
  top: -10px;
  font-weight: 600;
}
.home-product-item__origin-cart {
  margin-bottom: 13px;
  line-height: 1.3rem;
}
.home-product-item__origin-cart:hover {
  background-color: var(--primary-color);
}
.home-product {
  margin-bottom: 20px;
}

.home-product__pagination {
  margin: 48px 0 32px 0 ;
}
/* footer */
.footer {
  padding-top: 16px;
  /* border-top: 4px solid var(--primary-color); */
  background-color: #322b2b;
}

.footer__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #aba6a6;
  padding: 2px 0 ;
  display: flex;
  align-items: center;
}

.footer-item__link:hover{
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.6rem;
  margin: 4px 8px 0 0;
}
.footer__download {
  display: flex;
}
.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid #d6d0d0;
}

.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__download-app-icon {
  height: 18px;
}
.footer__download-app-link {
  font-size: 1.6rem;
    text-decoration: none;
    color: #aba6a6;
    margin-top:15px;
}
.footer__bottom {
  background-color: #000000;
  padding: 8px 0;
  margin-top: 24px;
 
}
.footer__text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  color: #737373;
}
.footer-download-app-apple {
  font-size: 2.2rem;
}
.footer__download-qr {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  position: relative;
}
.footer__download-qr:hover {
  transform: scale(4);
  margin-top: -15px;
  border: 1px solid  #fafafa;
}
.banner-img {
  max-width: 100%;
  margin-top: 15%;
  height: 500px;
}
/* .mySlides {display: none;} */
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: ; */
  position: relative;
  margin: auto;
}

/* Caption text */
.text-box {
  display: flex;
  justify-content: space-between;
  /* flex: 1; */
  position: relative;
  width: 100%;
  top: -33rem;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  /* text-align: center; */
}
.text-left {
  left: 7rem;
  width: 50%;
  font-size: 3rem;
}
.text-right {
  right: 6rem;
    width: 50%;
    top: -13.2rem;
    text-align: right;
    padding-left: 21.5rem;
}

.text-slide-2 {
  right: 6.6rem;
    width: 50%;
    text-align: right;
    padding-left: 95px;
    top: -6rem;
  }


.text-heading {
  font-size: 5.9rem;
  margin-bottom: 0;
}
.text-description {
  color:#f1f1f1;
  font-weight: 500;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s linear;
}

.active {
  /* background-color: #717171; */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.dot {
  display: none;
}








